.showcase-content > div h1 {
  font-size: 1.5rem;
}

.showcase-content {
  padding: 0.50rem;
}

#nav {
  flex-direction: column;
}

ul li {
  margin: 0.50rem;
}

.showcase-content > div p {
  margin-bottom: 1rem;
}

#header {
  height: 120vh;
}

#header-2 {
  height: 120vh;
}


/* about */
#section {
  height: 120vh;
}

/* Skills */


.skills {
  width: 290px;
  padding: 5rem ;
}


/* Contact */

#contact {
  height: 110vh;
}

.social-content a > i {
  padding: 0 1rem;
  font-size: 2rem;
}
